
<footer class="container-fluid ">
        <div class="row foot">
            <div class="col-md-4 footer_content">
                <h4 class="heading">Disclaimer</h4>
                <p class="heading" id="ps">
                    The purpose of this website is to create a common platform for all the users to upload their data.
                </p>
            </div>
            <div class="col-md-4 footer_content">
                <h4 class="heading">Contact Us</h4>
                <p class="heading" id="ps">
                    For any query contact us on:<br><br>
                    <a href="mailto:username@gmail.com"><span class="fa fa-envelope icon"></span>manaswee25445@gmail.com</a><br/>
                </p>
                <p class="heading" id="ps" style="padding-top: 0%; margin-top: -2%;">
                    <a href="tel:+919422123456"><span class="fa fa-phone icon"></span>+91 9422123456</a>
                </p>
            </div>
            <div class="col-md-4 footer_content">
                <h4 class="heading">Terms & Policies</h4>
                <p class="heading" id="ps">
                    Copyrights (c) 2019. All rights reserved.
                    <br/>
                    Manaswee Adwant.
                    <br/>
                    Team 15
                </p>
            </div>
    
        </div>
    </footer>
    